.input-date__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-selector{
    width: 300px;
    height: 30px;
}

.main__container {
    display: flex;
    flex-direction: row;
}
